snippet clg b
	console.log(${0:${VISUAL}})

snippet rfc b
	const ${1:component} = () => {
		<div>${2}</div>
	};

	export default ${1:component};

snippet rnfc b
	import { View, Text } from "react-native";

	const ${1:component} = () => {
		<View><Text>${2}<Text></View>
	};

	export default ${1:component};
